/* TEMPORÁRIO */ 
.construcao{
    display: flex;
    width: 100%;
    justify-content: center;
}

.contrucao2{
    margin-top: 100px;
}

/* FIXO */ 
/* NAV */ 

body{
background-color: #3A343F;
}

nav{
    margin-top: 0px;
    margin-top: 0px;
    background: url("../img/nav/bg-NAV.png");
    height: 40px;
    align-items: center;
    width: 100%;
    position: fixed;
}

.nav{
    display: flex;
    padding-left: 50px;
    padding-top: 8px;
}

nav a{
    margin-right: 50px;
}



/* HOME */ 

.home{
    display: flex;
}

.home-coluna{
    padding-top: 50px;
    padding-left: 50px;
}

.home-botton{
    padding-top: 10px;
}

.home-img{
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 50px;
}





















/* TREINAMENTOS */ 

.container-treinamentos{
    display: flex;
}

.modulos{
    padding-left: 50px;
    margin-top: 60px;
    flex-direction: column-reverse;
    position: fixed;
}

.botton-modulos{
    margin-bottom: 10px;
}

.bg-treinamento{
    width: 100%;
    margin-top: 60px;
    display: flex;
    justify-content: center;
}



.etapas{
    padding: 0px 50px 0px 253px;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    position: fixed;
}

.conteudo{
    margin-top: 60px;
    margin-bottom: 20px;
    padding-left: 550px;
}









.doc-conteudo-fluxograma{
    width: 1200px;
}